pytz
pyjwt
openai
fastapi
uvicorn
pydantic
cloudinary
sqlalchemy
apscheduler
firebase_admin
passlib[bcrypt]
pydantic[email]
psycopg2-binary
pydantic-settings
python-multipart

langchain
langchain-openai
langchain-community